<!--<p>interpolation and data binding is as shown below</p>
<h3 class="text-style">
  {{ title }}   
</h3>
<p>property binding is as shown below</p>
<img [src]="imgLink">   
<br/>
<br/>-->
<!--<div [class.myClass]="applyClass">Checking class binding</div>
<div [style.color]="applyOrange?'orange':'black'"> This is style binding </div> <br/>
<button (click)="onClick(demoInput.value)">Click me for event binding</button>
<input type="text" #demoInput> <br/> <br/>
<button (mouseover)="onClick($event)">Mouseover for event binding</button> -->

<!--<h4>The 2 way binding (event binding and property binding) is shown below:</h4>
<input type="text" placeholder="Firstname" [(ngModel)]="fname">
<input type="text" placeholder="Lastname" [(ngModel)]="lname"> <br/>
Fullname = {{fname}} {{lname}}-->

<!--<h4>Structural directive like *ngIf, *ngSwitchCase, *ngFor responsible for DOM manipulation shown below:-</h4>
<p *ngIf="showElement">Show Element</p>
<div [ngSwitch]="color">
  <p *ngSwitchCase ="'red'">Red color is shown</p>
  <p *ngSwitchCase ="'Blue'">Blue color is shown</p>
  <p *ngSwitchDefault> Invalid color</p>
</div>
<p>Iteration using *ngFor structural built-in directive shown below:</p>
<ul>
  <li *ngFor="let color of colors">{{color}}</li>
</ul> -->

<!--<p>Attribute Directives - ngClass, ngStyle</p>
<p [ngClass]="{classOne:cOne, classTwo:cTwo}">ngClass paragraph</p>
<p [ngStyle]="{'font-size':size, 'font-style':style}">ngStyle Paragraph</p>
<button (click)="toggle()">Click to toggle</button> -->

<!--<h2>Child Tutorials component</h2>
<label>Enter child TutorialsComponent value</label>
<input type="text" #childtext (keyup)="onChange(childtext.value)">
<p>Value from parent Appcomponent is {{parentData}}</p> -->

<!--<p>Pipes concept</p>
<h2>original : {{name}}</h2>
<h2>uppercase : {{name | uppercase}}</h2>
<h2>lowercase : {{name | lowercase}}</h2>
<h2>slice : {{name | slice:'3':'5'}}</h2>

<h2>{{8.567}}</h2>
<h2>{{8.567 | number: '1.2-3'}}</h2>
<h2>{{8.567 | number: '2.2-3'}}</h2>
<h2>{{8.567 | number: '2.4-4'}}</h2>
<h2>{{8.567 | number: '2.2-2'}}</h2>

<h2>currency USD :{{8.567 | currency:'USD':true}}</h2>

<h2>Date : {{date}}</h2>
<h2>fullDate : {{date | date:'fullDate'}}</h2>
<h2>shortDate : {{date | date:'shortDate'}}</h2>
<h2>mediumTime : {{date | date:'mediumTime'}}</h2>-->
